.container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
}

.modal {
	width: 1000px;
	height: 600px;
	background-color: red;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;

	background: #242424de;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border-radius: 10px;
	border: 1px solid rgba(30, 143, 255, 0.096);

	button {
		background: transparent;
		border: none;
		outline: none;
		font-size: 2rem;
		color: dodgerblue;
		cursor: pointer;
		transition: 0.3s linear;
		&:hover {
			opacity: 80%;
		}
	}

	img {
		width: 40px;
	}
	h3 {
		text-transform: uppercase;
		opacity: 80%;
		display: inline;
	}
}

.coinInfo {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.chartFilter {
	display: flex;
	button {
		background: dodgerblue;
		border: none;
		margin: 1rem 0.4rem 0 0;
		color: #fff;
		font-size: 1.3rem;
		padding: 0.4rem 0.8rem;
		border-radius: 5px;
	}
}
